In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
housing_data = pd.read_csv('housing.csv')
housing_data.sample(5)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
18366,-122.08,37.24,21.0,427.0,63.0,182.0,70.0,11.3283,500001.0,<1H OCEAN
13024,-121.24,38.67,28.0,3558.0,589.0,1742.0,581.0,4.0182,131700.0,INLAND
3632,-118.43,34.24,36.0,1379.0,265.0,896.0,246.0,4.6827,183800.0,<1H OCEAN
967,-121.88,37.67,16.0,4070.0,624.0,1543.0,577.0,6.5214,311500.0,INLAND
1806,-122.34,37.93,32.0,2389.0,652.0,1672.0,584.0,1.4423,88300.0,NEAR BAY

In [3]:
housing_data = housing_data.dropna()

In [4]:
housing_data.shape

(20433, 10)

In [5]:
housing_data.loc[housing_data['median_house_value']== 500001].count()

longitude             958
latitude              958
housing_median_age    958
total_rooms           958
total_bedrooms        958
population            958
households            958
median_income         958
median_house_value    958
ocean_proximity       958
dtype: int64

In [6]:
housing_data['ocean_proximity'].unique()

array(['NEAR BAY', '<1H OCEAN', 'INLAND', 'NEAR OCEAN', 'ISLAND'],
      dtype=object)

In [7]:
housing_data = pd.get_dummies(housing_data, columns=['ocean_proximity'])

In [8]:
housing_data.shape

(20433, 14)

In [9]:
housing_data.sample(5)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity_<1H OCEAN,ocean_proximity_INLAND,ocean_proximity_ISLAND,ocean_proximity_NEAR BAY,ocean_proximity_NEAR OCEAN
1139,-121.57,39.74,17.0,1619.0,292.0,705.0,285.0,2.4623,126100.0,0,1,0,0,0
7534,-118.23,33.91,34.0,1060.0,276.0,1215.0,250.0,2.0804,84700.0,1,0,0,0,0
17983,-121.95,37.30,21.0,4193.0,1068.0,2487.0,1011.0,3.7188,293000.0,1,0,0,0,0
5604,-118.28,33.78,20.0,2233.0,591.0,1915.0,558.0,3.2011,169100.0,1,0,0,0,0
9397,-122.54,37.90,41.0,3170.0,622.0,1091.0,528.0,3.7813,389200.0,0,0,0,1,0

In [11]:
median = housing_data['median_house_value'].median()#
median

179700.0

In [13]:
housing_data['above_median'] = (housing_data['median_house_value']- median)>0

In [14]:
housing_data.sample(5)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity_<1H OCEAN,ocean_proximity_INLAND,ocean_proximity_ISLAND,ocean_proximity_NEAR BAY,ocean_proximity_NEAR OCEAN,above_median
14682,-117.08,32.82,16.0,1787.0,236.0,770.0,228.0,7.1298,278600.0,1,0,0,0,0,True
13931,-117.36,34.28,18.0,3903.0,715.0,1388.0,428.0,4.2386,157200.0,0,1,0,0,0,False
4381,-118.26,34.09,51.0,1532.0,366.0,669.0,333.0,3.6434,278800.0,1,0,0,0,0,True
19247,-122.73,38.47,16.0,1834.0,391.0,994.0,390.0,3.7266,156500.0,1,0,0,0,0,False
9662,-120.51,41.35,16.0,2843.0,564.0,892.0,386.0,2.5074,69100.0,0,1,0,0,0,False

In [32]:
X = housing_data.drop(['median_house_value','above_median'],axis=1)
Y = housing_data['above_median']

In [35]:
X.columns

Index(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income',
       'ocean_proximity_<1H OCEAN', 'ocean_proximity_INLAND',
       'ocean_proximity_ISLAND', 'ocean_proximity_NEAR BAY',
       'ocean_proximity_NEAR OCEAN'],
      dtype='object')

In [38]:
from sklearn.model_selection import train_test_split
X_train ,X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2)

In [39]:
X_train.shape ,X_test.shape

((16346, 13), (4087, 13))

In [40]:
Y_train.shape, Y_test.shape

((16346,), (4087,))

In [44]:
from sklearn.linear_model import LogisticRegression
logistic_model = LogisticRegression(solver='liblinear').fit(X_train, Y_train)

In [51]:
print("Training_score:", logistic_model.score(X_train, Y_train))

Training_score: 0.8266854276275541

In [55]:
y_pred = logistic_model.predict(X_test)

In [56]:
df_pred_actual = pd.DataFrame({'predicted':y_pred, 'actual:': Y_test})
df_pred_actual.head(10)

       predicted  actual:
17626       True     True
11788      False    False
6743       False     True
12757      False    False
3788       False     True
14924       True    False
3271       False    False
1716        True    False
1184       False    False
8392        True    False

In [61]:
from sklearn.metrics import accuracy_score
print("accuracy score:", accuracy_score(Y_test, y_pred))

accuracy score: 0.8333741130413507